/* header */
@import url(./header.css);
@import url(./menu.css);
@import url(./top.css);
@import url(./line.css);
@import url(./footer.css);
@import url(./main.css);

body{
	font-family: 'Cute Font', cursive;
	font-size: 18px;
	background-color:#f6f5f0;

}
span{
	display: inline-block;
}


img{
	display: block;
}
.container {
	display:grid;
	
	height:100vh;
	grid-template-columns: 250px 1fr 250px;
	grid-template-rows: 150px 40px 20px 150px 1fr 150px 20px 50px;
	grid-template-areas: 'header header header'
	  					 'line line line'
						 'line2 line2 line2'
						 'menu main top'
						 'menu main aside'
						 'menu main bottom'
						 'line3 line3 line3'
						 'footer footer footer';
	
}
.box{
	background-color: #f6f5f0;
	border: 1px solid black;
}

.header{ 
	grid-area: header;
	position: relative;
	border-top: none;
	border-right: none;
	border-left: none;
}

.line{
	grid-area: line;
	border-bottom: 5px solid black;
	border-right: none;
	border-left: none;
}
.line2{
	grid-area: line2;
	background-color: #f6f5f0;
	border-bottom: none;
}

.line3{
	grid-area: line3;
	background-color: #f6f5f0;
	border-bottom: none;
}

.menu{
	grid-area: menu;
	border-bottom: none;
	border-top: none;
	border-left: none;
}
.main{
	grid-area: main;
	border-top: none;
	border-bottom: none;
	min-height: 500px;
	min-width: 400px;
}
.top{
	grid-area: top;
	border-top: none;
	border-right: none;
}
.aside{
	grid-area: aside;
	border-right: none;
}
.bottom{
	grid-area: bottom;
	border-bottom: none;
	border-right: none;
}
.footer{
	grid-area: footer;
	border-bottom: none;
	border-right: none;
	border-left: none;
}